header{
    background: url('../img/banner.logo.png') no-repeat center 30px;
    background-size: 160%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .bloc_header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 1320px;
        h1{
            position: absolute;
            right: 9999px;
        }
    
        .logo{
            width: 100%;
           }
    .bloc_info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {
        display: flex;
        justify-content: end;
        margin-bottom: 30px;
         li{
            margin-left: 2px;
            list-style-type: none;
         }
    }form{
        position: relative;
        margin-top: 40px;

        i{
            position: absolute;
            color: blue;
            font-size: 11px;
            top: 10px;
            left: 28px;
            cursor: pointer;
        }
       input{
        width: 300px;
        background-color: rgb(210, 208, 204);
        border-radius: 15px;
        height: 30px;
        text-align: center;
        border: 2px solid #d2d0cc;
        font-size: 17px;
        margin-bottom: 67px;
        margin-left: 20px;
       }
    }
   }
  }.banner{
        z-index: -1;
        position: relative;
        width: 100%;
        }
    
}